
/* Your CSS Code here. */
.holder{
	display:flex;
  justify-content: space-between;
	flex-wrap:wrap;
	
	
}
.item{
	text-align:center;
	width:100px;
	line-height:100px;
	padding:5px;
	background:red;
	border:2px solid black;
	margin:10px;
}